*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  height: 70px;
  background-color: #EC715F;
}
.heading{
  position: relative;
  margin: 0 auto;
  width: 1024px;
  height: 70px;
}
img{
  height: 70px;
}
.nav-list{
  position: absolute;
  right: 0;
  top: 20px;
  left: auto;
  display: flex;
  list-style: none;
}
.nav-list-item{
  display: inline-block;
  font-size: 16px;
  color: #FAFAFA;
  padding: 0 30px 0;
}

.main-visual{
  text-align: center;
  height: 650px;
  width: 100%;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}
.main-visual h1{
  font-size: 64px;
  color: #FAFAFA;
  margin-bottom: 10px;
}
.main-visual p{
  font-size: 20px;
  color: #FAFAFA;
}
.main-visual-text{
  padding-top: 200px;
}


.main-contents{
  background-color: #ECEFF1;
  padding:90px 0;
  margin: 0 auto;
}
.portfolio{
  text-align: center;
  margin: 0 auto;
  width: 920px;
}
.portfolio-title{
  font-size: 32px;
  color: #000000;
}
.title-line{
  display: inline-block;
  text-align: center;
  height: 3px;
  width: 70px;
  background-color: #EC715F;
  margin-top: 8px;
}
.portfolio p{
  font-size: 16px;
  margin:30px 0;
  color:#000000;
}

.portfolio-box{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.box1{
  margin-bottom: 10px;
  width: 300px;
  height: 250px;
  background-image:url(img/sketch.jpg) ;
  background-size: cover;
}
.box2{
  margin-bottom: 10px;
  margin: 0 10px;
  width: 300px;
  height: 250px;
  background-image: url(img/talk.jpg);
  background-size: cover;
}
.box3{
  margin-bottom: 10px;
  width: 300px;
  height: 250px;
  background-image: url(img/webcamp-mother.png);
  background-size: cover;

}
.box4{
  width: 300px;
  height: 250px;
  background-image: url(img/webcamp.png);
  background-size: cover;
}
.box5{
  margin: 0 10px;
  width: 300px;
  height: 250px;
  background-image: url(img/websuku.png);
  background-size: cover;
}
.box6{
  width: 300px;
  height: 250px;
  background-image: url(img/write.jpg);
  background-size: cover;
}


.feature{
  text-align: center;
  width: 980px;
  padding:90px 0 ;
  margin: 0 auto;
}

.feature-contents{
  display: flex;
  flex-wrap: wrap;
}
.feature-title{
  font-size: 32px;
  color: #000000;
}
.feature-text{
  font-size: 16px;
  color: #000000;
  margin: 30px 0;
}
.feature section{
  width: 320px;
}
.feature section:nth-child(2){
  margin: 0 10px;
}
.feature section p{
  font-size: 16px;
  color: #000000;
  text-align: left;
  line-height: auto;
}
.feature section h1{
  font-size: 20px;
  color: #000000;
  padding: 10px 0;
}
.feature .fas{
  font-size: 60px;
}

.main-profile{
  background-color: #ECEFF1;
}
.main-profile-contents{
  margin: 0 auto;
  width: 1024px;
  padding: 90px 0;
}
.main-profile-contents .profile{
  text-align: center;
}
.profile-contents{
  display: flex;
  flex-wrap: wrap;
}
.profile h1{
  font-size: 32px;
  color: #000000;
}
.profile p {
  font-size: 16px;
  color: #000000;
  margin: 30px 0;
}
.img-profile{
  width: 512px;
  text-align: center;
}
.profile-contents img{
  width: 250px;
  height: 250px;
  border-radius: 125px;
}
.profile-text{
  width: 512px;
  text-align: left;
}
.profile-text h1{
  font-size: 20px;
  margin-bottom: 5px;
}
.profile-text p{
  font-size: 16px;
  color: #000000;
}
.profile-text-p{
  margin-bottom: 20px;
}


.contact{
  width: 800px;
  margin: 0 auto;
  padding: 90px 0;
}
.contact-text{
  text-align: center;
}
.contact-text h1{
  font-size: 32px;
  color: #000000;
}
.contact-text p{
  font-size: 16px;
  color: #000000;
  margin: 30px 0;
}

.contact-contents{
  display: flex;
  flex-wrap: wrap;
}
.tel-mail{
  width: 400px;
}


.contact-contents .tel-mail h1{
  left:200px;
  font-size: 20px;
  margin-bottom: 5px;
}
.mail-id{
  margin-bottom: 20px;
}

.contact-contents .tool{
  text-align: center;
  padding: 0 auto;
  width: 400px;
}
.contact-contents .tool h1{
  font-size: 20px;
  margin-bottom: 5px;
}
.contact-contents .tool .fab{
  font-size: 50px;
}
.twitter-icon{
  margin: 0 20px;
}






footer{
  text-align: center;
  height: 60px;
  background-color: #EC715F;
}
.footer-c{
  font-size: 16px;
  color: #FAFAFA;
  line-height: 60px;
}